<div class="fb-dialog-header">
  <h2 mat-dialog-title>Comments</h2>
  <div class="fb-header-actions">
    <button mat-icon-button (click)="onClose()" aria-label="Close comments dialog" class="fb-close-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<mat-dialog-content class="fb-dialog-content" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300"
  [scrollWindow]="false" (scrolled)="onScroll()" #scrollContainer>

  <div class="fb-comments-list">
    <!-- Single Comment -->
    @for (comment of comments?.data; track $index) {
    <app-comment [unKnownImage]="unKnownImage" [comment]="comment" [currentUser]="getCurrentUser()"
      [timeAgo]="getTimeAgo(comment.createdDate)" [isCurrentUserComment]="isCurrentUserComment(comment)"
      (startEdit)="startEdit(comment)" (cancelEdit)="cancelEdit()" [editingCommentId]="editingCommentId"
      (confirmDelete)="confirmDelete(comment.id)" (saveEdit)="saveEdit(comment)"></app-comment>
    }
  </div>

  <!-- Empty State -->
  @if (!comments?.data?.length) {
  <div class="fb-empty-state">
    <mat-icon>chat_bubble_outline</mat-icon>
    <p>No comments yet</p>
    <span class="sub-text">Be the first to comment.</span>
  </div>
  }

</mat-dialog-content>

<div class="fb-dialog-footer">
  <!-- Avatar -->
  <img [src]="unKnownImage" [alt]="getCurrentUser()" class="fb-footer-avatar" />

  <!-- Input Area -->
  <div class="fb-input-wrapper">
    <textarea [(ngModel)]="newComment" rows="1" (keydown.enter)="$event.ctrlKey && addComment()"
      placeholder="Write a comment..." class="fb-comment-input"></textarea>
    <button mat-icon-button color="primary" (click)="addComment()" [disabled]="!newComment?.trim()"
      class="fb-send-button">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>