<app-header></app-header>
<div id="page-contents">
  <div class="container">
    <div class="row">

      <app-left-bar></app-left-bar>
      <div class="col-md-7">
        <app-publish photo="assets/images/users/user-6.jpg"></app-publish>
        <div class="feed-container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300"
             [scrollWindow]="false" (scrolled)="onScroll()">
          @for (item of postsResponse?.data; track $index) {
            <app-post [post]="item" [edit]="edit"
                      [editId]="editId"
                      (onEditPostClick)="onEditPost(item)" (onDeletePostClick)="onDeletePost(item)"
                      (closeDropdownClick)="closeDropdown()" (savePostEditClick)="savePostEdit(item)"
                      (toggleLikeClick)="toggleLike(item)"
                      (commentsClick)="comments(item.id)"></app-post>
          }
        </div>
      </div>
      <app-right-bar></app-right-bar>
    </div>
  </div>
</div>
