<div id="page-contents">
  <div class="container">
    <div class="row">

      <app-left-bar></app-left-bar>
      <div class="col-md-7">
        <app-publish></app-publish>

        <!-- Post Content
              ================================================= -->
        <div *ngFor="let post of postsResponse.posts">
          <div class="post-content">
            <!-- Post Header -->
            <div class="post-header flex justify-between items-start mb-3">
              <!-- Author Info -->
              <div class="flex items-center gap-3">
                <img
                  [src]="unKnownImage"
                  alt="user"
                  class="profile-photo-md"
                />
                <div class="author-info">
                  <a href="timeline.html" class="profile-link font-semibold text-gray-800 hover:underline">
                    {{ post.account.firstName }} {{ post.account.lastName }}
                  </a>
                  <p class="post-time text-sm text-gray-500">{{ getTimeAgo(post.createdDate) }}</p>
                </div>
              </div>

              <!-- Post Options -->
              <button class="btn-options text-gray-500 hover:text-gray-700">
                <i class="fa fa-ellipsis-h"></i>
              </button>
            </div>


            <!-- Post Text -->
            <div class="post-text" *ngIf="post.content">
              <p>{{ post.content }}</p>
            </div>

            <!-- Post Image -->
            <div class="post-media-container" *ngIf="post.media">
              <!-- Image -->
              <img
                *ngIf="isImage(post.media)"
                [src]="getFullMediaPost(post.media)"
                alt="post-image"
                class="post-image"
              />

              <!-- Video -->
              <video
                *ngIf="isVideo(post.media)"
                [src]="getFullMediaPost(post.media)"
                controls
                class="post-video"
              ></video>
            </div>

            <!-- Post Stats -->
            <div class="post-stats" *ngIf="post.reactionsCount > 0 || post.commentsCount > 0">
              <div class="reactions" *ngIf="post.reactionsCount > 0">
                <div class="reaction-icons">
                  <i class="fa fa-thumbs-up"></i>
                  <i class="fa fa-heart"></i>
                  <i class="fa fa-laugh"></i>
                </div>
                <span class="reaction-count">{{ post.reactionsCount }}</span>
              </div>
              <div class="comments-count" *ngIf="post.commentsCount > 0">
                <!--                <a href="#" class="comments-link" (click)="toggleComments(); $event.preventDefault()">-->
                <!--                  {{ post.comments }} comment{{ post.comments !== 1 ? 's' : '' }}-->
                <!--                </a>-->
              </div>
            </div>

            <!-- Post Actions -->
            <div class="post-actions">
              <button class="action-btn like-btn" [class.liked]="post.liked" (click)="toggleLike()">
                <i class="fa fa-thumbs-up"></i>
                <span>{{ post.liked ? 'Liked' : 'Like' }}</span>
              </button>
              <button class="action-btn comment-btn" (click)="toggleComments()">
                <i class="fa fa-comment"></i>
                <span>Comment</span>
              </button>
              <button class="action-btn share-btn">
                <i class="fa fa-share"></i>
                <span>Share</span>
              </button>
            </div>

            <!-- Comments Section -->
            <div class="comments-section" *ngIf="post.commentsCount!=0">
              <div class="comment" *ngFor="let comment of comments">
                <img [src]="comment.authorImage" alt="" class="comment-avatar"/>
                <div class="comment-content">
                  <div class="comment-header">
                    <a href="timeline.html" class="comment-author">{{ comment.author }}</a>
                    <span class="comment-time">{{ comment.timeAgo }}</span>
                  </div>
                  <p class="comment-text">{{ comment.content }}</p>
                </div>
              </div>

              <!-- Add Comment -->
              <div class="add-comment">
                <img src="assets/images/users/user-1.jpg" alt="" class="comment-avatar"/>
                <div class="comment-input-container">
                  <input
                    type="text"
                    class="comment-input"
                    placeholder="Write a comment..."
                    [(ngModel)]="newComment"
                    (keypress)="onCommentKeyPress($event)"
                  >
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
      <app-right-bar></app-right-bar>
    </div>
  </div>
</div>
