<div class="login-container">
  <h2>Login</h2>

  <div class="form-group">
    <label for="email">Email</label>
    <input [(ngModel)]="signInData.email" id="email" name="email" type="text" required (input)="clear()" />
    @if (emailError!=='') {
    <div class="error">{{ emailError }}</div>
    }
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input [(ngModel)]="signInData.password" id="password" name="password" type="password" required (input)="clear()" />
    @if (passwordError!=='') {
    <div class="error">{{ passwordError }}</div>
    }
  </div>
  <app-button text="Login" (onClick)="onSubmit()"></app-button>
  <app-auth-redirect text="Don't have an account?" textButton="Sign Up" textOnClick="/sign-up">
  </app-auth-redirect>

  @if (errorBackend) {
  <div class="error-message">
    <span class="error-icon">⚠️</span>
    <div class="error-text">
      <div class="error-ar">{{ errorMessageAr }}</div>
      <div class="error-en">{{ errorMessageEn }}</div>
    </div>
  </div>
  }
</div>